.welcome {
  border: 1px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  padding: 50px;
  height: 200px;
  width: 300px;
  margin: auto;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
